@font-face {
    font-family: "PixelArmy";
    src: url("/fonts/PixelArmy.woff2") format("woff2");
}

@font-face {
    font-family: "VT323";
    src: url("/fonts/VT323.woff2") format("woff2");
}

@theme {
    /* breakpoints */
    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-sm: 40rem; /* 640px */
    --breakpoint-md: 55rem; /* 880px */

    /* colors */
    --color-base-100: oklch(15% 0 310);
    --color-base-200: oklch(17% 0.015 310);
    --color-base-300: oklch(22% 0.02 310);
    --color-base-content: oklch(90% 0.04 310);
    --color-primary: oklch(65% 0.24 16);
    --color-primary-content: oklch(15% 0 0);
    --color-secondary: oklch(75% 0.20 290);
    --color-secondary-content: oklch(15% 0 0);

    /* fonts */
    --font-mono: "VT323", monospace;
    --font-title: "PixelArmy", "VT323", monospace;
}